body {
  background-color: #33658a;
}

.wrapper-grid {
  display: grid;
  grid-template-areas:
    "... nav ..."
    "... bottom-grid ...";
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: minmax(60px, 1fr) auto;
}

/********************** NAV **********************/
.nav-grid {
  grid-area: nav;

  display: grid;
  grid-template-areas: "logo space links";
  grid-template-columns: 1fr 6fr 3fr;

  justify-items: end;
  align-items: center;

  padding: 1em 1.75em 1em 1.75em;

  border-radius: 0.5em 0.5em 0 0;
  border-bottom: 1px solid lightgray;

  background-color: #faf3dd;
}

.nav-grid .logo {
  grid-area: logo;
}

.nav-grid .logo img {
  height: 60px;
}

.nav-grid .links {
  grid-area: links;
}

.nav-grid ul {
  display: flex;

  flex-direction: row;

  padding: 0;
  margin: 0;

  list-style: none;
}

.nav-grid .nav-link {
  color: #33658a;
}

.nav-grid .nav-link:hover {
  color: #558822;
}

/********************** CONTENT (Bottom wrapper) **********************/
.content-grid {
  grid-area: bottom-grid;

  display: grid;
  grid-template-areas:
    "... text ..."
    "... form ...";
  /* grid-template-columns: 2fr minmax(2fr, 6fr) 2fr; */
  grid-template-columns: 2fr 4fr 2fr;
  grid-template-rows: auto auto;

  justify-items: center;

  border-radius: 0 0 0.5em 0.5em;

  background-color: #faf3dd;
}

.title {
  grid-area: text;

  padding: 2em 0 1em 0;
}
.title > h3 {
  margin: 0;
}

.form-grid {
  grid-area: form;
}

.form-grid form {
  display: grid;
  grid-template-areas:
    "cities"
    "prices"
    "submit";
  grid-template-rows: repeat(auto-fill, minmax(40px, 1fr));
  grid-row-gap: 0.5em;

  padding: 1em 0 2em 0;
}

.cities {
  grid-area: cities;

  border-top-left-radius: 200px;
}

.prices {
  grid-area: prices;
}

.submit-btn {
  grid-area: submit;
  width: 100%;
  background-color: #33658a;
}

.submit-btn:hover {
  background-color: #558822;
}

.bottom-content {
  grid-column: 1 / -1;
}

.restaurant-list-wrapper {
  /* padding: 3.5em; */
}

/********************** Media Queries **********************/
@media (max-width: 1200px) {
  .wrapper-grid {
  }

  .title > h3 {
    font-size: 1.5em;
  }
}

@media (max-width: 1024px) {
  .wrapper-grid {
    height: 100vh;
    grid-template-areas:
      "... logo ..."
      "... bottom-grid ...";
    /* grid-template-columns: 20% 60% 20%; */
    /* grid-template-rows: minmax(60px, 1fr) auto; */
    grid-template-rows: 1fr 4fr;
  }

  .nav-grid {
    grid-area: logo;

    display: grid;
    grid-template-areas: "logo";
    grid-template-columns: 1fr;

    justify-content: center;

    /* padding: 2em; */
  }

  .nav-grid .logo img {
    object-fit: contain;
    width: 100%;
    max-height: 100%;
  }

  .links {
    display: none;
  }

  .title > h3 {
    font-size: 1em;
  }
}

/* 2688x1242px at 458ppi, iPhone X */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) {
  .wrapper-grid {
    grid-template-areas:
      "logo"
      "bottom-grid";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr;
  }

  .content-grid {
    grid-template-areas:
      "text"
      "form";
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 5fr;
  }

  .title {
    grid-area: text;

    padding: 2em 2em 1em 2em;
  }

  .title > h3 {
    font-size: 2.5em;
    text-align: center;
  }

  .form-grid {
    grid-area: form;
  }
}
