body {
  background-color: #33658a;
}

.wrapper-grid {
  display: grid;
  grid-template-areas:
    "... nav ..."
    "... form ...";
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: minmax(60px, 1fr) auto;
}

/********************** NAV **********************/
.nav-grid {
  grid-area: nav;

  display: grid;
  grid-template-areas: "logo space links";
  grid-template-columns: 1fr 6fr 3fr;

  justify-items: end;
  align-items: center;

  padding: 1em;

  border-radius: 0.5em 0.5em 0 0;
  border-bottom: 1px solid lightgray;

  background-color: #faf3dd;
}

.nav-grid .headerText {
  grid-area: logo;
}

.nav-grid .headerText img {
  height: 60px;
}

.nav-grid .links {
  grid-area: links;
}

.nav-grid ul {
  display: flex;

  flex-direction: row;

  padding: 0;
  margin: 0;

  list-style: none;
}

.nav-grid .nav-link {
  color: #33658a;
}

.nav-grid .nav-link:hover {
  color: #558822;
}

/********************** CONTENT (Bottom wrapper) **********************/
.content-grid {
  grid-area: form;

  display: grid;
  grid-template-areas:
    "... text ..."
    "... form ...";
  /* grid-template-columns: 2fr minmax(2fr, 6fr) 2fr; */
  grid-template-columns: 2fr 4fr 2fr;
  grid-template-rows: auto auto;

  justify-items: center;

  border-radius: 0 0 0.5em 0.5em;

  background-color: #faf3dd;
}

.title {
  grid-area: text;

  padding: 2em 0 1em 0;
}
.title > h3 {
  margin: 0;
}

.form-grid {
  grid-area: form;
}

.form-grid form {
  display: grid;
  grid-template-areas:
    "cities"
    "prices"
    "submit";
  grid-template-rows: repeat(auto-fill, minmax(40px, 1fr));
  grid-row-gap: 0.5em;

  padding: 1em 0 2em 0;
}

.cities {
  grid-area: cities;

  border-top-left-radius: 200px;
}

.prices {
  grid-area: prices;
}

.submit-btn {
  grid-area: submit;
  width: 100%;
  background-color: #558822;
}

.submit-btn:hover {
  background-color: #33658a;
}

.bottom-content {
  grid-column: 1 / -1;
}

.restaurant-list-wrapper {
  /* padding: 3.5em; */
}
