.wrapper {
  display: grid;
  grid-template-rows: minmax(60px, 1fr) auto;
  /* grid-template-rows: repeat(auto-fill, minmax(60px, 1fr)); */
  grid-template-columns: 1fr 8fr 1fr;
}

.nav-wrapper {
  grid-row: 1;
  grid-column: 2;

  display: grid;
  grid-template-columns: 1fr 6fr 3fr;

  justify-items: end;

  /* border: 1px solid lightgray;
  border-bottom: none; */
}

.headerText {
  grid-column: 1;

  /* height: 10px; */
}
.headerText img {
  height: 60px;
}

.link-wrapper {
  grid-column: 3;
}

.bottom-wrapper {
  grid-row: 2;
  grid-column: 2;

  display: grid;
  grid-template-columns: 3fr 4fr 3fr;
}

.random-restaurant-wrapper {
  grid-column: 2;

  display: grid;
  /* grid-template-rows: ; */

  justify-items: center;
  padding: 1em;
}

.restaurant-list-wrapper {
  grid-column: 1 / 4;
}
